*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
body{
    background-image: url(background.jpg);
}
#img{
    height: 100px;
    width: 100px;
padding-left: 40%;
padding-top: 30%;

    
}
img{
    height: 100px;
    width: 100px;
padding: 20px;
border-radius: 80px;

    
}
h1{
    font-weight: bolder;
    color: purple;
    text-align: center;
    padding: 50px;

}
P{
    display: inline;
    margin: 20px;
    font-weight: 800;
    text-align: center;
    

}
button{
    width: 100px;
    height: 30px;
    border-radius: 25%;
    margin: 100px;
    cursor: pointer;


}
#follow{
    background-color: rgb(167, 114, 167);
    font-size: 15px;
    font-weight: 700;
}
#message{
    background-color: rgb(199, 74, 33);
    font-size: 15px;
    font-weight: 700;
}
.data{
    display: inline;
margin: 60px;
padding: 10px;
position: relative;
}